.main {
  width: 480px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  color: black;
}
.button {
  width: 60px;
  height: 60px;
  border-radius: 100%;
  font-size: 32px;
  border: none;
  color: black;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  box-shadow: 0 15px 25px -4px rgba(0, 0, 0, 0.5),
    inset 0 -3px 4px -1px rgba(0, 0, 0, 0.2),
    inset 0 3px 4px -1px rgba(255, 255, 255, 0.2),
    inset 0 20px 30px 0 rgba(255, 255, 255, 0.2);
  transition: all 300ms cubic-bezier(0.23, 1, 0.32, 1);
  cursor: pointer;
  transform: translateY(-0.2em);
}
.button:active {
  transform: translateY(0);
}

@media screen and (max-width: 768px) {
  .main {
    width: 300px;
  }
  .button {
    width: 48px;
    height: 48px;
    font-size: 24px;
  }
}

.btnsList {
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 0;
}

.btnsListItem {
  width: 20%;
  margin-top: 5px;
}

.answContainer {
  display: flex;
  justify-content: space-around;
  margin-top: 50px;
}

.list {
  list-style: none;
  padding: 0;
  margin-top: 30px;
}

.answer,
.result {
  border: 1px solid rgb(240, 191, 191);
  box-shadow: 0 15px 25px -4px rgba(0, 0, 0, 0.5),
    inset 0 -3px 4px -1px rgba(0, 0, 0, 0.2),
    inset 0 3px 4px -1px rgba(255, 255, 255, 0.2),
    inset 0 20px 30px 0 rgba(255, 255, 255, 0.2);
  transition: all 300ms cubic-bezier(0.23, 1, 0.32, 1);

  border-radius: 30px;
  height: 40px;
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 20px;
}

.answer {
  width: 80px;
  color: white;
  background-color: rgb(255, 0, 0);
}

.result {
  width: 112px;
  color: rgb(252, 0, 0);
  background-color: rgb(236, 233, 233);
}

.span {
  vertical-align: middle;
}

.text {
  color: black;
  margin: 0;
}

.winner {
  color: white;
  border: 1px solid white;
  background-color: rgb(52, 165, 30);
}
